<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home</h1>
    <div>
        <% if (user) { %>
            <span>Name - <%= user.username %></span>
            <br>
            <span>Email - <%= user.email %></span>
        <% } %>
    </div>
</body>
</html>