<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Register Page</h1>

    <form action="/register" method="post">
        <input name="username" type="text" placeholder="username">
        <br>
        <input type="email" name="email" placeholder="email">
        <br>
        <input name="password" type="password" placeholder="password">
        <br>
        <button>Register</button>
    </form>
</body>
</html>