* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chat-container {
    display: none;
    width: 400px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chat-header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 15px;
}

.chat-box {
    padding: 20px;
    height: 400px;
    overflow-y: auto;
    border-bottom: 1px solid #ddd;
}

.message {
    margin-bottom: 15px;
    max-width: 70%;
}

.message.sent {
    text-align: right;
    margin-left: auto;
    background-color: #DCF8C6;
    padding: 10px;
    border-radius: 10px;
    border-bottom-right-radius: 0;
}

.message.received {
    text-align: left;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 10px;
    border-bottom-left-radius: 0;
}

.timestamp {
    display: block;
    font-size: 0.8em;
    color: #777;
    margin-top: 5px;
}

.chat-input {
    display: flex;
    padding: 10px;
    background-color: #f1f1f1;
    border-top: 1px solid #ddd;
}

.chat-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.chat-input button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.chat-input button:hover {
    background-color: #45a049;
}

.set-username-container{
    display: flex;
    flex-direction: column;
    padding: 4px;
    background-color: white;
    width: 360px;
    height: 80px;
    gap: 10px;
}

.set-username-container input, button{
    font-size: 22px;
}
