.container {
    margin: 100px auto;
    border: 2px solid black;
    width: 200px;
    height: 200px;
    background-color: teal;
    font-size: 2rem;
    color: white;

    /* transform: translateX(200px); */
    /* transform: translateY(200px); */
    /* transform: translateZ(-200px); */

    /* transform: rotateX(45deg); */
    /* transform: rotateZ(145deg); */

    /* transform: skewY(30deg) */

    transform: scale(1);
}