*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    background-image: url('./img/Space.png');
    background-color: rgb(123, 112, 180);
    /* background-position-x: 400px; */
    /* background-repeat: no-repeat; */
    animation: bgMove 5s ease-in-out forwards;
    position: relative;
}

.rocket{
    /* border: 2px solid red; */
    width: 250px;
    height: 250px;
    transform: rotateZ(45deg);
    position: absolute;
    bottom: 150px;
    left: 600px;
    animation: rocketUpAndDown 2s ease-in-out infinite,
                takePositon 2s ease-in-out 9s forwards,
                rocketLaunch 2s ease-in-out 11s forwards;
}

.cody{
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 250px;
    left: -100px;
    animation: codyUpAndDown 2s ease-in-out infinite,
               codyMoveForward 2s linear 5s forwards,
               codyInRocket 2s linear 7s forwards;
}

.rocket img, .cody img{    
    width: 100%;
}

@keyframes bgMove{
    100%{
        background-position-x: -5200px;
    }
}

@keyframes rocketUpAndDown{
    50%{
        bottom: 350px;
    }
    100%{
        bottom: 150px;
    }
}

@keyframes codyUpAndDown{
    50%{
        bottom: 450px;
    }
    100%{
        bottom: 250px;
    }
}

@keyframes codyMoveForward{
    100%{
        left: 520px;
        /* transform: translateX(600px); */
    }
}

@keyframes codyInRocket{
    100%{
        left: 800px;
        transform: scale(0);
    }
}

@keyframes takePositon{
    100%{
        transform: rotateZ(-45deg);
    }
}

@keyframes rocketLaunch{
    100%{
        /* transform: rotateZ(-45deg); */
        bottom: 2500px;
    }
}