/* ---------------- descendent combinator */
/* div p span{
    color:red;
} */

/* ------------- child combinator */

/* div > p{
    color: red;
} */


/* ----------- immediate sibling */
/* p+p{
    color: red;
} */

/* ------------ general sibling */
p~p{
    color: red;
}
