/* font and text formatting */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* -------------- text */
p{
    /* left, right, center, justify */
    /* text-align: justify;  */
    /* text-decoration: line-through; */
    /* text-decoration-color: aqua; */
    /* text-transform: lowercase;
    letter-spacing: 2px;
    word-spacing: 10px; */
    /* text-shadow: 2px 2px 2px; */
}

/* --------------- fonts */
p{
    font-size: 16px;
    font-family: Poppins;
    font-weight: 900;
    font-style: italic;
    line-height: 20px;
}


