html{
    font-size: 16px;
}
/* ---------------rem  */
/* .child{
    font-size: 2rem;
}

.grand-child{
    font-size: 2rem;
} */

/* ------------- em */

.child{
    font-size: 2em;
}

.grand-child{
    font-size: 2em;
}