<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="/users"  method="post">
        <input name="username" type="text" placeholder="username"> <br>
        <input name="email" type="email" placeholder="email"> <br>
        <input name="age" type="number" placeholder="age"> <br>

        <button>Submit</button>
    </form>

</body>
</html>